@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css");


body {
    color: #434242;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
   background-color: #FFF0F5;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

h2 {
	font-size: 54px;
    text-align: center;
}

h3 {
	font-size: 28px;
}

h2, h3 {
    font-weight: 300;
    color: hotpink;
}



.intro {
	position: relative;
	background: no-repeat center right fixed url(./coffee_2.jpg);
	background-size: cover;
	height: 700px;
}

.intro .container {
	position: relative;
	top: 28%;
	z-index: 4;
	text-align: center;
	box-sizing: border-box;
}

.intro .container h1 {
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    color: #FFFFFF;
    font-size: 63px;
    font-weight: 700;
    display: inline-block;
    padding: 0px 0px 20px;
}

.intro .container p {
	font-size: 28px;
	color: #FFFFFF;
	margin: 0 0 10px;
}

.intro .overlay {
	background-color: pink;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.75;
    z-index: 2;
}


.intro .scroll-down .glyphicon {
    color: #FFFFFF;
    font-size: 30px;
    padding-right: 2px;
    padding-top: 20px;
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
 }

a {
    color: #428bca;
    text-decoration: none;
    background: 0 0;
}



.white-bg {
	background-color: white;
}

.profile, .experiences{
    padding: 40px 180px;
    margin: 0px 135px;
}



.profile .lead {
	text-align: center;
	color: #727878;
	font-size: 21px;
}

.row {
	overflow: auto;
}


.column {
	width: 33.3%;
	float: left;
}

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}


.navbar {
    border: 0px;
    background-color: #222222;
    position: absolute;
    top: 100%;
    right: 5%;
    width: 110px;
    z-index: 999;
}



.glyphicon-chevron-down {
    content: "\e114";
}

 .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.intro .scroll-down {
	height: 80px;
    width: 110px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 5%;
    background-color: #222222;
    text-align: center;
    z-index: 6;
}

.navbar .navbar-collapse {
    padding: 0px;
    max-height: none;
}

.navbar .navbar-nav {
    float: none;
}

.navbar-nav {
    margin: 0px;
}


.navbar .nav > li {
    display: block;
    float: none;
    height: 80px;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: hotpink;
    color: #FFFFFF;
}

.navbar .nav > li a {
    display: block;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    color: #FFFFFF;
}




